html {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.nav {
    background-color: #3a363a;
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 0 35%;
}

.logo {
    display: block;
}

a:hover {
    opacity: 0.6;
    transition: ease-in-out 500ms;
}

.anc {
    display: flex;
    text-decoration: none;
    /* margin: 10px 55px; */
    color: ghostwhite;
    align-items: center;
    transition: ease-in-out 500ms;

}